services:
  # Electric
  - type: web
    runtime: image
    name: electric
    image:
      url: electricsql/electric:latest
    disk:
      name: storage
      mountPath: /var/electric
      sizeGB: 20
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: STORAGE_DIR
        value: "/var/electric"
  # Your app
  - type: web
    runtime: static
    name: app
    repo: https://github.com/electric-sql/standalone-basic-example
    buildCommand: VITE_ELECTRIC_URL="https://${ELECTRIC_HOST}.onrender.com" npm run build
    staticPublishPath: dist
    envVars:
      - key: ELECTRIC_HOST
        fromService:
          name: electric
          type: web
          property: host
